* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 10rem;
  height: auto;
}

.header {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  border-radius: 5px;
  transition: 0.3s ease;
  padding: 0.5rem 0.8rem;
}

.nav-menu a:hover {
  background-color: rgba(94, 103, 153, 0.5);
  transition: 0.5s;
}
