.popup {
  position: fixed;
  width: 20vw;
  background-color: #0d0e18;
  border-radius: 6px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  border: 2px solid white;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup .check {
  width: 30%;
  height: auto;
  margin-top: -10%;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
  background-color: #c5ecbe;
  color: #0d0e18;
  border-radius: 50%;
}

.popup h2 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  margin: 1.5rem 0 1rem;
}

.popup p {
  color: white;
}

.popup .btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  background: #c5ecbe;
  border: 0;
  outline: none;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.4);
}

.popup .btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

@media screen and (max-width: 1400px) {
  .popup {
    width: 50vw;
  }

  .popup .check {
    width: 50%;
  }

  .popup h2 {
    font-size: 1.5rem;
  }

  .popup p {
    font-size: 1rem;
  }
}
