.timeline {
  width: 100vw;
  max-width: 100vw;
}

.timeline-head h1 {
  max-width: 100vw;
  text-align: center;
  padding: 4rem 0;
}

.timeline-body {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: white;
  margin-bottom: 4rem;
}

.timeline-body h1 {
  text-align: center;
  padding: 4rem 0 0 0;
}

.timeline-component {
  margin: 0 20px 20px 20px;
}

.timeline-component-bg {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline-component-bottom {
  margin-bottom: 0;
}

.timeline-date-right {
  text-align: right;
}

.timeline-date-left {
  text-align: left;
}

.timeline-middle {
  position: relative;
  background-color: white;
}

.timeline-point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.timeline-point-bottom {
  top: initial;
  bottom: 0;
}

.timeline-title {
  margin: 0;
  font-size: 1.15rem;
  font-weight: bold;
}

.timeline-paragraph {
  line-height: 1.5;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .timeline-head h1 {
    padding: 2rem 0;
  }

  .timeline-middle {
    position: relative;
    top: 0;
    left: -65vw;
  }

  .timeline-date-left,
  .timeline-date-right {
    position: absolute;
    left: 20vw;
  }

  .timeline-body {
    position: relative;
  }

  .date-component {
    width: 0;
  }

  .timeline-component-bg {
    width: 60vw;
    font-size: 0.8rem;
    position: relative;
    top: 10%;
    margin-bottom: 6rem;
  }

  .component-right {
    left: -90%;
  }

  .component-left {
    left: 10%;
  }

  .timeline-component-bottom {
    margin-bottom: 15%;
  }
}
