.work-container {
  background-color: rgba(0, 0, 0, 0.7);
}

.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 1rem 0 5rem 5rem;
}

.project-card {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  height: 100%;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.project-card a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic .project-card elements styling */
.project-card h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.project-card p {
  color: black;
  text-align: justify;
}

figure {
  width: 100%;
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.project-card img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.card-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #917fb3;
}

.project-card a:focus {
  outline: 1px dotted #917fb3;
}

.project-card a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.project-card:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #917fb3;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 1000px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }

  .project-card h2 {
    font-size: 1.5rem;
  }

  .project-card p {
    font-size: 1rem;
  }
}
